* {
 box-sizing: border-box;
}

body {
  font-family: sans-serif;
  max-width: 960px;
  margin: 0 auto;
}

.the-table {
  margin: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(6, minmax(1em, auto));
  grid-auto-flow: column;
  grid-gap: 1em;
}

.product-details {
  display: contents;
}

.attribute-detail {
  padding: 1em 0;
  border-top: 1px solid #888;
}

.box {
  margin-top: 1em;
  width: 80px;
  height: 80px;
  border-radius: 5px;
  background-color: rgb(100, 130, 20);
}

.big-box {
  margin-top: 1em;
  width: 120px;
  height: 120px;
  border-radius: 5px;
  background-color: rgb(100, 180, 70);
}

.product-title {
  font-size: 140%;
  font-style: bold;
}
